body {
  background-image:url('https://regirock.net/media/videos/background.gif');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  background-attachment: fixed;
}

