body {
  background-image: url('https://cdn.regirock.net/videos/background.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.textbox {
  font-family: "Helvetica, sans-serif";
  width: 300px;
  height: 100px;
  color: #c9a0dc;
  background: #111;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.image-left img {
  margin-right: 1em;
  float: left;
}

.image-right img {
  order: 1;
  margin-left: 1em;
  float: right;
}

