body {
  background-image: url('https://cdn.regirock.net/videos/background.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.textbox {
  font-family: "Helvetica, sans-serif";
  width: 300px;
  height: 100px;
  color: #c9a0dc;
  background: #111;
  border-radius: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cd__main{
    max-width: 720px !important;
}

img
{
	       max-width: 220px;
               height: auto;
}

.image-left, .image-right
{
	margin: 1em 0;
}

@media (min-width: 20em)
{
	.image-left, .image-right
	{
		display: flex;
		align-items: center;
	}

	.image-left img
	{

		margin-right: 1em;
		float: left; /* fallback */
	}

	.image-right img
	{
		order: 1;
		margin-left: 1em;
		float: right; /* fallback */
	}
	
	/* clearfix for fallback */
	.image-left::after,
	.image-right::after
	{
		content: "";
  	display: block;
		clear: both;
	}
}

@media (min-width: 30em)
{
	.image-left img, .image-right img
	{
		flex-shrink: 0;
	}
}
