body {
  background-image: url('https://cdn.regirock.net/videos/background.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.textbox {
  font-family: "Helvetica, sans-serif";
  width: 300px;
  height: 100px;
  color: #c9a0dc;
  background: #111;
  border-radius: 15px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


.image-left {
  float:left;
  width: 100px;
  height: 100px;
}
.image-right {
  float:right;
  width: 100px;
  height: 100px;
}

.socials {
  width:100px;
  height:100px;
}
